*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM FONTS */

@font-face {
    font-family: 'Helvetica';
    src: url('./assets/helvetica/Helvetica.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('./assets/georgia-font/Georgia.ttf') format('truetype');
    font-weight: normal;
}


:root {
    /* FONT FAMILIES */
    --font-plain: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    --font-serif: 'Georgia', serif;
    --font-special: 'Barlow Condensed', 'Helvetica', sans-serif;
    --font-mono: 'Menlo', 'Courier', 'Courier New', 'Andale Mono', monospace;


    /* COLOR PALETTES */
    --color-dark: #050505;
    --color-darkish: #404040;
    --color-lightish: #e6e6e6;
    --color-light: #fafafa;
    --color-mid: grey;


    /* SPACING & SIZING */
    --ratio: 1.4;
    --s-5: clamp(0.33rem, 0.39rem + -0.29vw, 0.18rem);
    --s-4: clamp(0.41rem, 0.47rem + -0.31vw, 0.25rem);
    --s-3: clamp(0.51rem, 0.57rem + -0.31vw, 0.35rem);
    --s-2: clamp(0.64rem, 0.69rem + -0.27vw, 0.5rem);
    --s-1: clamp(0.8rem, 0.84rem + -0.18vw, 0.71rem);
    --s0: clamp(1rem, 1rem + 0vw, 1rem);
    --s1: clamp(1.25rem, 1.19rem + 0.32vw, 1.41rem);
    --s2: clamp(1.56rem, 1.39rem + 0.85vw, 2rem);
    --s3: clamp(1.95rem, 1.61rem + 1.7vw, 2.83rem);
    --s4: clamp(2.44rem, 1.83rem + 3.04vw, 4rem);
    --s5: clamp(3.05rem, 2.04rem + 5.07vw, 5.65rem);


    /* LINE HEIGHTS AND BORDERS */
    --measure: 65ch;
    --line-height: 1.4;
    --line-height-small: calc(0.8* var(--ratio));
    --border-thin: var(--s-5);
    --border-thick: var(--s-2);
}


/* BODY STYLES */
body {
    color: black;
    font-family: var(--font-plain);
    cursor: default;
}


/* HEADINGS AND TEXT */
h1, h2, h3, h4 {
    line-height: var(--line-height-small);
    font-family: var(--font-special);
    font-weight: 700;
    hyphens: auto;
}

h1 {
    font-size: var(--s4);
}

h2 {
    font-size: var(--s3)
}

p, .block-start {
    margin-block-start: var(--s1);  
    line-height: 1.8;
}

span {
    font-weight: bold;
}

header p {
    max-width: 60ch;
}

/* FONT FAMILY CLASSES */
.font-mono { font-family: var(--font-mono) }

.font-bold { font-weight: 700; }


/* ACCESSIBLE LINKS */
a {
    cursor: pointer;
    color: black;
    font-family: inherit;
}


/* IMAGES */
img {
    width: 100%;
    height: auto;
}

/* FORM ELEMENTS */

input { border: 8px solid black; }

.text-white { color: white; }

.text-center {
    text-align: center;
    margin: 0 auto;
}




/* === SPACING HELPERS === */
.gap-s1 { gap: var(--s1); }
.gap-s2 { gap: var(--s2); }



/* WIDTH HELPERS */
.w-full { width: 100%; }

.max-w-60 { max-width: 60%; }
.max-w-40 { max-width: 40%; }
.max-w-45 { max-width: 45%; }
.max-w-50 { max-width: 50%; }
.max-w-70 { max-width: 70%; }
.max-w-80 { max-width: 80%; }

/* === LAYOUT HELPERS === */
.flex { display: flex; place-content: center; }
.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }
.flex-start { justify-content: flex-start; }
.justify-between { justify-content: space-between; }

.grid { display: grid; place-content: center; }


/* BUTTONS AND CTA */

header .cta {
    background-color: transparent;
    color: black;
    margin-block-start: var(--s1);
    font-size: var(--s2);
}

.cta, button {
    font-size: inherit;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
    line-height: 1.1;
    font-family: var(--font-special);
    color: var(--color-light);
    background-color: var(--color-dark);
    padding: .5rem 1rem .7em;
    border-width: var(--border-thin);
}

/* SECTION STYLING */

.region {
    padding-block: var(--s4);
    padding-inline: var(--s2);
}

.news-logos {
    max-width: 90%;
    margin-block-start: var(--s5);
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--s3);
}


/* ABOUT SECTION */
.about {
    padding-inline-start: var(--s5);
    margin-block-start: var(--s5);
    position: relative;
}

.about::before {
    content: '';
    display: block;
    width: 1rem;
    height: 100%;
    position: absolute;
    inset: 0 auto 0 var(--s1);
    background-image: linear-gradient(45deg, #fafafa 25%, #050505 25%, #050505 50%, #fafafa 50%, #fafafa 75%, #050505 75%, #050505 100%);
    background-size: 1.3rem 1.3rem;
}


/* OTHER SECTIONS */
.purchases-section-aside {
    border-left: var(--s0)  solid white;
    padding-left: var(--s0);
    margin: 0 auto;
}

.authors-section,
.review-section,
.review-divs,
.cta-section {
    margin-block-start: var(--s5);
}

.cta-section {
    color: var(--color-lightish);
    background-color: var(--color-dark);
    place-content: center;
}

.created-section {
    margin-block-end: var(--s3);
}


/* OTHER STYLING - COMPONENTS */

.news-logos img {
    max-width: 200px;
    max-height: 150px;
}

.grid-illustrations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-block-start: var(--s5);
}

.grid-cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--s3);
    place-content: center;
    margin: 0 auto;
}

.authors,
.grid-illustrations { gap: var(--s3); }

.authors img {
    width: 12.5rem;
    height: auto;
}

.author, .author-name {
    display: flex;
}

.author {
    gap: var(--s0);
}

.review-divs { 
    overflow-x: auto; 
    overflow-y: hidden; 
    width: 100%;
    scrollbar-color: var(--color-light) var(--color-dark)
}

.review-divs figure {
    font-size: 1rem;
    font-style: italic;
    min-width: 500px;
    width: 100%;
    gap: var(--s3);
    display: flex;
    flex-direction: row;
    margin-inline-start: var(--s3);
    margin-bottom: var(--s3);
}

.review-divs img, 
.author img {
    min-width: 5rem;
    border: var(--border-thin) solid;
    filter: saturate(0%) contrast(200%) brightness(140%);
    transform: scale(101%);
}

.review-divs figcaption {
    font-family: var(--font-special);
    font-size: var(--s0);
    font-weight: 700;
    line-height: var(--line-height-small);
}


/* MOBILE RESPONSIVENESS */

@media screen and (max-width: 48rem) {
    section {
        max-width: 90% !important;
        margin: 0 auto;
        flex-direction: column;
    }

    figure {
        max-width: 100% !important;
    }

    .mobile-flex-col {
        flex-direction: column;
        gap: var(--s2);
    }

    .news-logos {
        flex-direction: row;
    }

    .purchases-section-aside {
        max-width: 80%;
    }
}
